%li
  %span.content
    - if this_is_admin?
      %a.btn.btn-danger.fancybox{:href => "#deleteComment",  'data-toggle'=>"modal"} Delete
    %h6 #{@blog.user.firstname} #{@blog.user.lastname} said :
    %span.content= comment.content
    %span.timestamp
      Posted #{time_ago_in_words(comment.created_at)} ago.
#deleteComment.modal.hide.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', :role => 'dialog', :tabindex => '-1'}
  .modal-header
    %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} ×
    %h3#myModalLabel.portfolio-info
  .modal-body
    %h4 Delete comment.  Are you sure?
    %input#comment_id{:type => "hidden", :value => comment.id}
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    %button#del_comm.btn.btn-primary Yes