#subscription
  %h3
    You purchased the product #{@product.title}'paid for it #{@product.price}$. Nice use!
  %p
    You pay to be realized in the creation of your account on Stripe payment system. Now your card is tied up.
  %br
  %p= link_to "Download product", product.attachcomm.url(), :class => "btn btn-info"